# Python
__pycache__/
*.py[cod]

# PyInstaller Build Artifacts
build/
dist/
*.spec

# The Executable (Do not commit binaries!)
magic.exe

# Logs
*.log
magick_log.txt

# Local Environment
.venv/
env/
venv/

# IDE Settings
.vscode/
.idea/
